# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
staticfiles/
media/

# Environment
.env
*.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Temp
temp_test_mkdir/
